export OMNI_VERSION=`wget -qO - "https://api.github.com/repos/siderolabs/omni/releases/latest" | grep -Po '"tag_name": "\K.*?(?=")'`
export OMNI_DOMAIN_NAME=omni.domain
export OMNI_ACCOUNT_UUID=use-some-uuid-generator
export OMNI_WG_IP=666.666.666.66
export OMNI_ADMIN_EMAIL=real@email.com

